 <% @items_available.each do |item| %>

    <div class="post_wrapper">
        <div class="top_wrapper d-flex align-items-center d-flex justify-content-between">
            <span class="title"><div id="profile_pic"></div><%= item.name %></span>
        </div>
        <div id="photo"><%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %></div>
            
        <div class="description_wrapper">
            <div id="description"><%= item.description.truncate_words(10) %></div>

            <div id="timestamp"><%= item.updated_at.strftime('%d %B') %></div>
            <div class="bottom_wrapper">

                
                <% if current_user.email == item.user.email %>
                    <p id="username">posted by Me</p>
                    <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>

                <% elsif current_user.email != item.user.email %>
                <div id="items_controls">
                    <form method = 'PATCH' action ='/items/<%= item.id %>/reserve'><button class ="item_reserved_btn btn btn-info reserve"> Reserve </button></form>
                </div>
                
                <% end %>

            </div>
        </div>
     </div>
<% end %>