<div id ='items_main_wrapper'>

    <div id="user_inner_wrapper">
        <div id="user_top_wrapper">
            <% if current_user.id == @user.id %>
                <h2>MY LISTINGS</h2>
            <% else %>
                <h2><%= @user.name %> 's LISTINGS</h2>
            <% end %>
        </div>
        <div id="user_bottom_wrapper">
        <% @items.each do |item| %>
      		<div class="post_wrapper">
                <div class="top_wrapper d-flex align-items-center d-flex justify-content-between">
                    <span class="title"><div id="profile_pic"></div><%= item.name %></span>
                </div>
                <div id="photo"><%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %></div>
                <div class="description_wrapper">
                    <div id="description"><%= item.description.truncate_words(10) %></div>

                    <div id="timestamp"><%= item.updated_at.strftime('%d %B') %></div>
                    <div class="bottom_wrapper">
                        <p id="username">posted by Me</p>

                            <% if user_signed_in? && current_user.email == item.user.email %>

                                <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                            <% elsif user_signed_in? && current_user.email != item.user.email %>
                                <form method = 'PATCH' action ='/items/<%= item.id %>/reserve'><button class ="btn btn-info reserve"> Reserve </button></form>
                            <% else%>

                            <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    
    <% if current_user.id == @user.id && @myReservedItems.length > 0 %>
        <h2>MY RESERVED ITEMS</h2>
        <% @myReservedItems.each do |item| %>
        <%= item.name %>
        <%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %>
        <%= item.description.truncate_words(10) %>
        <%= item.updated_at.strftime('%d %B') %>
        <p id="username2">posted by <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>
        <form method = 'PATCH' action ='/items/<%= item.id %>/release'><button class ="btn btn-info reserve"> Release </button></form>
        <% end %>
                      
    <% end %>
    
  </div>

</div>