<div id ='items_main_wrapper'>

    <div id="user_inner_wrapper">
        <div id="user_top_wrapper">
            <% if current_user && current_user.id == @user.id %>
                <h2>MY LISTINGS</h2>
            <% else %>
                <h2><%= @user.name %> 's LISTINGS</h2>
            <% end %>
        </div>
        <div id="user_bottom_wrapper">
        <% @items.each do |item| %>
      		<div class="post_wrapper">
                <div class="top_wrapper d-flex align-items-center d-flex justify-content-between">
                    <span class="title"><div id="profile_pic"></div><%= item.name %></span>
                </div>
                <div id="photo"><%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %>
                    <% if item.availability == 'reserved' %>
                        <div id="reserved">RESERVED</div>
                    <% elsif item.availability == 'closed' %>
                        <div id="reserved">CLOSED</div>
                    <% end %>
                </div>
                <div class="description_wrapper">
                    <div id="description"><%= item.description.truncate_words(10) %></div>

                    <div id="timestamp"><%= item.updated_at.strftime('%d %B') %></div>
                    <div class="bottom_wrapper">

                    <% if user_signed_in? && current_user.email == item.user.email && item.availability == "reserved" %>
                        <p id="username">posted by Me</p>
                        <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                        <form method = 'PATCH' action = '/items/<%= item.id %>/done' ><button class ="btn btn-info "> Done</button></form>

                        <% elsif user_signed_in? && current_user.email == item.user.email && item.availability == "Available" %>
                        <p id="username">posted by Me</p>
                        <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                        
                    <% elsif user_signed_in? && current_user.email != item.user.email && item.availability == 'Available' %>
                        <form method = 'PATCH' action ='/items/<%= item.id %>/reserve'><button class ="btn btn-info reserve"> Reserve </button></form>


                    <% elsif user_signed_in? && current_user.email != item.user.email &&  current_user.reserve.length > 0 && item.availability == "reserved" && current_user.id == item.reserve.id %>
                        <p id="username">posted by  <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>
                        
                             <form method = 'PATCH' action ='/items/<%= item.id %>/release'><button class ="btn btn-info reserve"> Release </button></form>

                    <% else%>
                        

                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% if current_user && current_user.id? == @user.id %>
    <hr class="dashboard_line">
    
    <div>
        <div id="user_top_wrapper">
            <h2>MY RESERVED ITEMS</h2>
        </div>
        <div id="user_bottom_wrapper">
        <% if @myReservedItems.length > 0 %>
            <% @myReservedItems.each do |item| %>

            <div class="post_wrapper">
                    <div class="top_wrapper d-flex align-items-center d-flex justify-content-between">
                        <span class="title"><div id="profile_pic"></div><%= item.name %></span>
                    </div>
                    <div id="photo"><%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %></div>
                    <div class="description_wrapper">
                        <div id="description"><%= item.description.truncate_words(10) %></div>

                        <div id="timestamp"><%= item.updated_at.strftime('%d %B') %></div>
                        <div class="bottom_wrapper">
                            <p id="username">posted by <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>

                                <% if user_signed_in? && current_user.email == item.user.email %>

                                    <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </div>
                               <% elsif user_signed_in? && current_user.email != item.user.email &&  current_user.reserve.length > 0 && current_user.id == item.reserve.user_id%>
                         <form method = 'PATCH' action ='/items/<%= item.id %>/release'><button class ="reserved_btn btn btn-info reserve"> Release </button></form>

                                <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    <% end %>
  </div>

</div>