<div id ='items_main_wrapper'>

    <div id="form_wrapper">
        <div id="form_item_edit_left">
            <%= cl_image_tag(@item.public_id) %>
        </div>
        <div id="form_right">

            <%= form_with scope: :item, model: @item, local: true do |form| %>
              <div class="field">
                <%= form.label :Category %>
                <%= form.collection_select :category_id, @categories, :id, :category %>
              </div>
              <div class="field">
                  <%= form.label :name %><br>
                  <%= form.text_field :name %>
              </div>

              <div class="field">
                  <%= form.label :Photos%><br>
                  <%= form.text_field :public_id %>
              </div>
              <%= form.file_field :attachment, :multiple => true %>

              <div class="error">
                 <%= show_errors(@item, :name) %>
              </div>
              <div class="field">
                  <%= form.label :Description%><br>
                  <%= form.text_area :description %>
              </div>

              <div class="error">
                 <%= show_errors(@item, :description) %>
              </div>

              <div class="field">
                  <%= form.label :Preloved %>
                  <%= select_tag("preloved", options_for_select(["Preloved","New"]))%>

              </div>

              <div class="error">
                 <%= show_errors(@item, :preloved) %>
              </div>

              <div class="field">
                  <%= form.label :Status %>
                  <%= select_tag("availability", options_for_select(["Available","Reserved", "Closed"]))%>

              </div>


              <div class="actions">
                <%= form.submit %>
            </div>
            <% end %>
        </div>
    </div>
</div>
