<div id="background"></div>


<div id="categories">
    <div class="cat_wrapper"><h2>Categories<h2></div>
    <a href="#"><div class="cat_wrapper"><img src="/assets/category_04.jpg"></a>Apparels</div>
    <a href="#"><div class="cat_wrapper"><img src="/assets/category_01.jpg"></a>Electronics</div>
    <a href="#"><div class="cat_wrapper"><img src="/assets/category_02.jpg"></a>Furniture & fittings</div>
    <a href="#"><div class="cat_wrapper"><img src="/assets/category_05.jpg"></a>Toys & Games</div>
    <a href="#"><div class="cat_wrapper"><img src="/assets/category_03.jpg"></a>Others</div>
</div>
<div class="main_wrapper">

    <% for item in @items %>

    <div class="post_wrapper">
        <div class="top_wrapper d-flex align-items-center d-flex justify-content-between">
            <span class="title"><div id="profile_pic"></div><%= item.name %></span>

        </div>
        <div id="photo"><%= link_to item_path(item) do %><%= cl_image_tag(item.public_id) %><% end %>
            <% if item.availability == 'reserved' %>
                <div id="reserved">RESERVED</div>
            <% elsif item.availability == 'closed' %>
                <div id="reserved">CLOSED</div>
            <% end %>
       </div>
        <div class="description_wrapper">
            <div id="description"><%= item.description.truncate_words(10) %></div>
            <div id="timestamp"><%= item.updated_at.strftime('%d %B') %></div>


            <div class="bottom_wrapper">


                <% if user_signed_in? && current_user.email == item.user.email && item.availability == "Available"%>
                    <p id="username">posted by  <a href = "/users/<%= item.user.id %>" >Me</a></p>
                    <div class="controls"><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>

                    </div>

                <% elsif user_signed_in? && current_user.email == item.user.email && item.availability == "reserved"%>
                     <p id="username">posted by  <a href = "/users/<%= item.user.id %>" >Me</a></p>
                    <div class="controls">
                         <%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                        <p><form method = 'PATCH' action = '/items/<%= item.id %>/done' ><button class ="btn btn-danger "> Done</button></form></p>
                    </div>

                <% elsif user_signed_in? && current_user.email != item.user.email && item.availability == "Available" %>
                    <p id="username">posted by  <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>
                     <div class="controls">
                    <form method = 'PATCH' action ='/items/<%= item.id %>/reserve'><button class ="btn btn-info reserve"> Reserve </button></form>
                    </div>
                <% elsif user_signed_in? && current_user.email != item.user.email &&  current_user.reserve.length > 0 && item.availability == "reserved" && current_user.id == item.reserve.user_id %>



                    <p id="username">posted by  <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>
                    <div class="controls">
                     <form method = 'PATCH' action ='/items/<%= item.id %>/release'><button class ="btn btn-info reserve"> Release </button></form>
                    </div>
                <% else %>
                    <p id="username">posted by  <a href = "/users/<%= item.user.id %>" ><%= item.user.name %></a></p>

                <% end %>

            </div>

        </div>
    </div>
<% end %>

</div>


</div>