<div id ='items_main_wrapper'>

    <div id="form_wrapper">
        <div id="form_item_new_left">

        </div>
        <div id="form_right">
            <%= form_with scope: :item, url: items_path, local: true do |form| %>
              <div class="field">
                <%= form.label :Category %>
                <br>
                <%= form.collection_select :category_id, @categories, :id, :category %>
              </div>
              <div class="field">
                  <%= form.label :name %><br>
                  <%= form.text_field :name %>
              </div>

              <div class="">
                  <%= form.label :Photos%><br>
                  <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
              </div>

              <div class="error">
                 <%= show_errors(@item, :name) %>
              </div>
              <div class="field">
                  <%= form.label :Description%><br>
                  <%= form.text_area :description %>
              </div>

              <div class="error">
                 <%= show_errors(@item, :description) %>
              </div>

              <div class="field">
                  <%= form.label :Condition %>
                  <%= select_tag("preloved", options_for_select(["Preloved","New"]))%>

              </div>

              <div class="error">
                 <%= show_errors(@item, :preloved) %>
              </div>

              <div class="actions">
                <%= form.submit %>
                </div>
            <% end %>
        </div>
    </div>
</div>
