<div id ='items_main_wrapper'>

    <div id="items_inner_wrapper">
        <div id="items_left">
            <%= cl_image_tag(@item.public_id) %>
        </div>
        <div id="items_right">
           <p>Category</p>
           <%= @item.category %>


           <p id="items_name"><%= @item.name %><p>


           <p id="items_description"><%= @item.description %></p>


            <p> Condition:</p>
           <% if @item.preloved == true %>
                <p> Preloved </p>
           <% else %>
                <p> New </p>
           <% end %>

          <p> posted by <%= @item.user.name %>
          	<p><%= @reserve.user.email %></p>
          	<% if @reserve.user_id_id.email == current_user.email%>
	          	<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

						  <p>
						    <%= form.label :comment %><br>
						    <%= form.text_area :comment %>
						  </p>

						  <p>
						    <%= form.submit %>
						  </p>
						<% end %>
					<% end %>
       </div>
   </div>
</div>