<div id ='items_main_wrapper'>

    <div id="items_inner_wrapper">
        <div id="items_left">
            <%= cl_image_tag(@item.public_id) %>
        </div>
        <div id="items_right">
           <p>Category > <%= @item.category %></p>

           <p id="items_name"><%= @item.name %><p>

           <p id="items_description"><%= @item.description %></p>

           <div>
                <p> Condition:
                   <% if @item.preloved == true %>
                        Preloved
                   <% else %>
                        New
                   <% end %>
                </p>
           </div>
          <p id="item_show_username"> posted by <a href = "/users/<%= @item.user.id %>" ><%= @item.user.name %></a></p>
       </div>
   </div>
</div>