<!DOCTYPE html>
<html>
  <head>
    <title>GiftsSg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <%= cloudinary_js_config %>

  </head>

  <body>

<nav class="navbar transparent navbar-expand-lg navbar-light">

    <div id="nav_logo">
        <%= image_tag("logo_01.png", class:"logo")%>
    </div>

    <div class="col-4 " id="">
        <form class="form-inline ">
          <input class="form-control col-9 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
  <div class="collapse navbar-collapse navbar-right col-2  " id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
        </li>
    </ul>
</div>

    <div class="d-flex justify-content-end col-3" >
        <ul class="navbar-nav  d-flex flex-row ">
            <% if user_signed_in? %>
                <li class="nav-link"><%= image_tag("login.png", size: "15x15", class:"")%>&nbsp;&nbsp;Hello, <%= @users.name %> &nbsp;&nbsp; </li>
            <% end %>
            <li class="nav-item d-flex flex-row">
                 <% if user_signed_in? %>
                    <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class:"nav-link" %>
                <% else %>
                    <a href="/users/sign_up" class="nav-link"><%= image_tag("pen.png", size: "15x15", class:"")%> Sign Up</a>
                    <a href="/users/sign_in" class="nav-link"><%= image_tag("key.png", size: "15x15", class:"")%> Login </a>
                <% end %>
            </li>

        </ul>
    </div>
</nav>


    <%= yield %>

    <div id="footer">hssdsdhs</div>
  </body>
</html>
